# build output
**/dist
**/build
**/.sanity
**/.expo
**/.cache
**/.partykit

# dependencies
**/node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
**/*.env*
**/*.vars*

# macOS-specific files
**/.DS_Store

**/*.db
.turbo